<h1 style= text-align:center;>Why Vote?</h1>
<bold>You live in a democracy and that means that you get a say in who runs your country,</bold> <p>and because of this privilege you also get a say about how your country is run. It is very easy to be blasé about your right to vote and take a devil-may-care attitude but you shouldn't brush this great honor off so quickly.
Voting Is Worth the Effort

Sure registering can be a bit of a chore, and yes, you have to head down to a polling station on voting day to pull your lever which takes some time out of your day and may cost you a few bucks in gas, but whether you know it or not these are very small prices to pay for the right to vote.


<h2>The Youth Vote Is Often Underestimated</h2>

Yes, it is true; the trend analysts who tell party spin doctors where to target their advertising dollars and public relations efforts traditionally over look the youth market. Why? Because the sad reality is that election year after election year the percentage of eligible youth who actually register and vote is small when compared with other demographics.
This doesn't mean the youth market isn't a force, it just means that it isn't a main motivator in the drafting of campaign platforms and pre-election advertising. So, like any self-respecting rebellious young person the natural thing to do is go against the grain and do the unexpected. Keep them on their toes, shock them into the 21st century and get out and vote!

<h2>Democracy Only Works When You Work It</h2>

Yeah, yeah, yeah, this one is an oldie, but hey let's face it, it's also a goody. A government by the people, for the people just can't work without the people. This is a simple fact. Like a car without an engine, or a computer without a hard drive, a democracy without voters is just a shell.
While it is easy to think that one vote doesn't make a difference the truth is that every vote counts. Remember the Gore v. Bush scandal in Florida? That was decided by a small number of votes.

You have to remember that as an individual your vote may seem to be little more than a whisper but when your vote is combined with the votes of others who share your views it becomes a voice. The more like-minded voters there are the louder that voice grows. So get out there and make the youth vote be heard.

<h2>Don't Vote, Don't Complain</h2>

If you don't vote you really have no right to complain about government decisions that you don't like no matter how much they actually suck. If there is one thing that is really annoying to us actual voters it is the endless ramblings on the bad political policy of a current government spewing from the mouths of eligible voters who never bothered to cast a ballot.
If you don't vote it is like saying you don't care how your country is run, so if you don't care where do you get the idea that you can complain when something happens that you don't like? If you don't vote you really have no right complaining about anything the government does.

If youre like most young people you like complaining and have it down to a fine art. Want the right to complain when the powers that be make a truly heinous decision? Then you must exercise your right to vote.

<h2>Vote Because You Can</h2>

Voting is a tremendous gift. Young people just like you in other countries actually fight and even die for this right; a right that so many youth in democratic nations take for granted. You should vote because you can, if you don't you may one day wake up in a country where you can't. Enough said!
Need more information? Help registering? Understanding registration deadlines in your state? Just want to know the issues? Check out these fine websites created with youth in mind.
Top Youth Vote Websites

5 Reasons Teens and Young Adults Should Vote You live in a democracy and that means that you get a say in who runs your country, and because of this privilege you also get a say about how your country is run. It is very easy to be blasé about your right to vote and take a devil-may-care attitude but you shouldn't brush this great honor off so quickly.
Voting Is Worth the Effort

Sure registering can be a bit of a chore, and yes, you have to head down to a polling station on voting day to pull your lever which takes some time out of your day and may cost you a few bucks in gas, but whether you know it or not these are very small prices to pay for the right to vote.

When you live in a democracy you are born with the right to have a voice in government. In some countries people are literally dying to be able to cast a ballot and make a difference. As if dying to vote doesn't say it all here are five more reasons that every eligible young person should get out and vote.

<br>